<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>修改用户信息</title>
</head>
<body>
<div style="text-align: center">
    <br/>
    <p style="font-size: 24px; font-weight: bold">
        修改用户信息表单
    </p>
    <br/>
    <p style="font-size: 18px; color: red">
        信息提示！<span th:text="${msg}">请修改用户信息</span>
    </p>
    <form th:action="@{'/toUpdateUser'}" method="post">
        <input type="hidden" name="id" th:value="${user.id}">
        <input type="hidden" name="curPage" th:value="${curPage}">
        用户名：<input type="text" name="name" th:value="${user.name}"><br/><br/>
        年&nbsp;&nbsp;&nbsp;&nbsp;龄：<input type="text" name="age" th:value="${user.age}"/><br/><br/>
        <input type="submit" value="提交"/>&nbsp;&nbsp;
        <input type="reset" value="重置"/>
    </form>
</div>
<br/>
<div style="margin-left: 850px; font-size: 24px">
    <a th:href="@{'/userList?curPage='+${curPage}}">返回</a>
</div>
</body>
</html>